body{
font-family:arial;
width:90%;
margin:auto;
background-color:rosybrown;
padding-bottom:35px;
}

.dropbtn{
background-color:lightgray;
color:sienna;
font-weight:bold;
padding:5px;
font-size:11px;
width:35px;
}

.dropdown{
position:relative;
display:inline-block;
}

.dropdown-content{
display:none;
position:absolute;
background-color:darksalmon;
min-width:160px;
overflow:auto;
box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
z-index:1;
}

.dropdown-content a{
color:black;
padding:5px 8px;
text-decoration:none;
display:block;
}

.dropdown-content a:hover{
background-color:darksalmon;
}

.dropdown:hover .dropdown-content{
display:block;
}

.dropdown:hover .dropbtn{
background-color:firebrick;
color:black;
}

#new{
width:49%;
height:550px;
float:left;
background-color:lightgray;
color:brown;
padding:5px;
}

#best{
width:49%;
height:550px;
float:right;
background-color:lightgray;
color:brown;
padding:5px;
}

#pearl{
height:90px;
width:75px;
padding:10px;
float:left;
}

#girl{
height:90px;
width:75px;
padding:10px;
float:right;
}


#man{
height:90px;
width:75px;
padding:10px;
float:left;
}

#fresh{
height:90px;
width:75px;
padding:10px;
float:right;
}

#tin{
height:90px;
width:75px;
padding:10px;
float:left;
}

#priory{
height:90px;
width:75px;
padding:10px;
float:right;
}

#prince{
height:90px;
width:75px;
padding:10px;
float:left;
}

#hobbit{
height:90px;
width:75px;
padding:10px;
float:right;
}

#philosopher{
height:90px;
width:75px;
padding:10px;
float:left;
}

#none{
height:90px;
width:75px;
padding:10px;
float:right;
}

#dream{
height:90px;
width:75px;
padding:10px;
float:left;
}

#chamber{
height:90px;
width:75px;
padding:10px;
float:right;
}

#empire{
height:150px;
width:100px;
padding:40px;
}

#mark{
height:150px;
width:170px;
padding:40px;
}

#mi{
height:150px;
width:120px;
padding:40px;
}

#twilight{
height:150px;
width:125px;
padding:40px;
}

